In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls 'datasets/'

adult.csv                  census.csv            pokemon.csv
airline_data.csv           cwurData.csv          sample_pivot.csv
antropometria00.csv        data.csv              tips.csv
antropometria-dataset.csv  headbrain.csv         weight-height.csv
Canada.xlsx                movies.csv
Cartwheeldata.csv          nhanes_2015_2016.csv

In [21]:
df=pd.read_excel('datasets/Canada.xlsx',
                 Sheetname = 'Canada by Citizenship',
                 skiprows=range(20),
                 skipfooter=2,
                engine= 'openpyxl')
df

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Unnamed: 38
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,1,1.0,NaN,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7083,6750,6669,6705,6922,8591,8956,8846.0,NaN,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2802,2834,2951,3034,3255,3369,3146,4602.0,NaN,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,11323,12705,11750,13456,16320,19271,15712,15453.0,NaN,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1012,1148,1230,1184,1235,1306,1049,1348.0,NaN,NaN
5,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,...,5303,5751,5684,5511,6802,8355,6578,7834.0,NaN,NaN
6,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,...,27523,29188,28284,29890,34534,40892,35441,38083.0,NaN,NaN
7,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,...,1134,903,936,805,962,905,769,1029.0,NaN,NaN
8,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,...,50306,41763,35591,39602,37497,37954,35159,40449.0,NaN,NaN
9,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,...,22809,25105,27256,30614,34166,44199,40494,37695.0,NaN,NaN
10,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,...,69510,66742,56032,54154,53083,62284,53673,60568.0,NaN,NaN
11,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,...,15494,14541,13644,14719,15726,18503,16799,12477.0,NaN,NaN
12,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,...,159253,149054,133459,139894,141434,163845,146894,152218.0,NaN,NaN
13,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,...,16724,14389,13886,11988,11759,11803,9612,9464.0,NaN,NaN
14,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,...,8153,7969,9186,10042,9846,9816,7285,7616.0,NaN,NaN
15,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,...,2806,2417,2290,2692,2948,2661,2466,2854.0,NaN,NaN
16,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,...,8272,8278,8133,9970,10525,9145,7415,9243.0,NaN,NaN
17,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,...,35955,33053,33495,34692,35078,33425,26778,29177.0,NaN,NaN
18,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,...,6816,6652,7826,8862,8847,10549,11958,11898.0,NaN,NaN
19,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,...,3990,4140,5039,4891,4814,5692,5821,6019.0,NaN,NaN
20,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,...,13941,13884,13146,12794,13206,12577,10077,9256.0,NaN,NaN
21,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,...,24747,24676,26011,26547,26867,28818,27856,27173.0,NaN,NaN
22,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,...,8394,9613,9463,10190,8995,8142,7676,7891.0,NaN,NaN
23,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,...,1279,1193,1383,1498,1538,1423,1226,1399.0,NaN,NaN
24,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,...,300,278,304,331,313,401,316,273.0,NaN,NaN
25,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,...,2,1,3,1,2,..,..,2.0,NaN,NaN
26,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,...,4,1,3,4,7,10,6,5.0,NaN,NaN
27,Immigrants,Foreigners,Oceania Total,NaN,1942,1839,1675,1018,878,920,...,1585,1473,1693,1834,1860,1834,1548,1679.0,NaN,NaN
28,Immigrants,Foreigners,Unknown,Unknown,44000,18078,16904,13635,14855,14368,...,4785,4583,4348,4197,3402,3731,2554,1681.0,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Columns: 39 entries, Type to Unnamed: 38
dtypes: float64(6), object(33)
memory usage: 13.2+ KB

In [7]:
df.columns

Index([       'Type',    'Coverage',    'AreaName',     'RegName',
                1980,          1981,          1982,          1983,
                1984,          1985,          1986,          1987,
                1988,          1989,          1990,          1991,
                1992,          1993,          1994,          1995,
                1996,          1997,          1998,          1999,
                2000,          2001,          2002,          2003,
                2004,          2005,          2006,          2007,
                2008,          2009,          2010,          2011,
                2012,          2013, 'Unnamed: 38'],
      dtype='object')

In [8]:
df.drop(['Type', 'Coverage'], axis=1, inplace=True)
df.columns

Index([   'AreaName',     'RegName',          1980,          1981,
                1982,          1983,          1984,          1985,
                1986,          1987,          1988,          1989,
                1990,          1991,          1992,          1993,
                1994,          1995,          1996,          1997,
                1998,          1999,          2000,          2001,
                2002,          2003,          2004,          2005,
                2006,          2007,          2008,          2009,
                2010,          2011,          2012,          2013,
       'Unnamed: 38'],
      dtype='object')

In [9]:
df.rename(columns= {'AreaName': 'Continent',
                   'RegName': 'Region'},
                inplace=True)
df.columns

Index([  'Continent',      'Region',          1980,          1981,
                1982,          1983,          1984,          1985,
                1986,          1987,          1988,          1989,
                1990,          1991,          1992,          1993,
                1994,          1995,          1996,          1997,
                1998,          1999,          2000,          2001,
                2002,          2003,          2004,          2005,
                2006,          2007,          2008,          2009,
                2010,          2011,          2012,          2013,
       'Unnamed: 38'],
      dtype='object')

In [10]:
df['Total']=df.iloc[:,4:].sum(axis=1)
df.head(2)

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2006,2007,2008,2009,2010,2011,2012,2013,Unnamed: 38,Total
0,Northern America,Northern America,..,..,..,..,..,..,..,..,...,..,..,..,..,..,1,1.0,NaN,NaN,6.0
1,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,...,6750,6669,6705,6922,8591,8956,8846.0,NaN,NaN,24717.0

In [11]:
df.describe()

,1993,1995,1996,2012,2013,Unnamed: 38,Total
count,29.000000,29.000000,29.000000,29.000000,0.0,0.0,43.000000
mean,16249.965517,13644.310345,14504.827586,17456.310345,NaN,NaN,41716.441860
std,22164.376752,19938.986287,22244.386514,30018.783873,NaN,NaN,80222.187483
min,1.000000,1.000000,1.000000,1.000000,NaN,NaN,0.000000
25%,1567.000000,1474.000000,1324.000000,1679.000000,NaN,NaN,0.000000
50%,7435.000000,6158.000000,5962.000000,7891.000000,NaN,NaN,6918.000000
75%,16569.000000,18726.000000,17844.000000,15453.000000,NaN,NaN,46509.500000
max,98737.000000,90424.000000,103030.000000,152218.000000,NaN,NaN,444409.000000

In [12]:
df.columns

Index([  'Continent',      'Region',          1980,          1981,
                1982,          1983,          1984,          1985,
                1986,          1987,          1988,          1989,
                1990,          1991,          1992,          1993,
                1994,          1995,          1996,          1997,
                1998,          1999,          2000,          2001,
                2002,          2003,          2004,          2005,
                2006,          2007,          2008,          2009,
                2010,          2011,          2012,          2013,
       'Unnamed: 38',       'Total'],
      dtype='object')

In [13]:
df.drop(['Unnamed: 38'], axis=1, inplace=True)
df.columns

Index(['Continent',    'Region',        1980,        1981,        1982,
              1983,        1984,        1985,        1986,        1987,
              1988,        1989,        1990,        1991,        1992,
              1993,        1994,        1995,        1996,        1997,
              1998,        1999,        2000,        2001,        2002,
              2003,        2004,        2005,        2006,        2007,
              2008,        2009,        2010,        2011,        2012,
              2013,     'Total'],
      dtype='object')

In [15]:
df.columns

Index(['Continent',    'Region',        1980,        1981,        1982,
              1983,        1984,        1985,        1986,        1987,
              1988,        1989,        1990,        1991,        1992,
              1993,        1994,        1995,        1996,        1997,
              1998,        1999,        2000,        2001,        2002,
              2003,        2004,        2005,        2006,        2007,
              2008,        2009,        2010,        2011,        2012,
              2013,     'Total'],
      dtype='object')

In [19]:
df.loc['Japan']

KeyError: 'Japan'